<%
translate = function(lang,item) {

}
%>
<%- include ("../../partials/head", { stylesheets: [] }) %>
<%- include ("../../partials/header") %>

<div class="hero centre-container hero-small">
    <div class="vertical-centre">
        <h1><%= helper.getLocale(locale).login %></h1>
    </div>
</div>
<div class="opencs-breadcrumbs">
    <div class="container">
        <div class="opencs-breadcrumbs-container">
            <p><a class="opencs-breadcrumb" href="/?locale=<%= locale %>"><%= helper.getLocale(locale).home %></a> / <a class="opencs-breadcrumb" href="/auth/login?locale=<%= locale %>"><%= helper.getLocale(locale).login %></a></p>
        </div>
    </div>
</div>
<div class="login-form">
    <div class="container">
        <form class="login-form-element" action="/auth/login" method="POST">
            <div class="form-group">
                <label for="emailAddress"><%= helper.getLocale(locale).emailAddress %></label>
                <input type="email" class="form-control" id="emailAddressInput" aria-describedby="emailAddress">
            </div>
            <div class="form-group">
                <label for="password"><%= helper.getLocale(locale).password %></label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="staySignedIn">
                <label class="form-check-label" for="staySignedIn"><%= helper.getLocale(locale).rememberMe %></label>
            </div>
            <div class="login-buttons">
                <button type="submit" class="btn btn-theme"><%= helper.getLocale(locale).login %></button>
                <a class="btn btn-secondary" href="/auth/reset/?locale=<%= locale %>"><%= helper.getLocale(locale).resetPassword %></a>
            </div>
        </form>
    </div>
</div>

<%- include ("../../partials/footer") %>
