<div class="main">
    <div class="header">
        <div class="branding-area">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <div class="logo">
                            <h2><%= company_name %></h2>
                        </div>
                    </div>
                    <div class="col-md-8 header-col-right">
                        <div class="header-group">
                            <div class="dropdown">
                                <button class="btn btn-theme dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= helper.getLocale(locale).language %>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="?locale=en">English</a>
                                    <a class="dropdown-item" href="?locale=is">Íslenska</a>
                                    <a class="dropdown-item" href="?locale=no">Norsk</a>
                                    <a class="dropdown-item" href="?locale=fi">Suomi</a>
                                    <a class="dropdown-item" href="?locale=mk">Македонски</a>
                                    <a class="dropdown-item" href="?locale=pt">Portugese</a>
                                </div>
                            </div>
                            <div class="button">
                                <a href="/cart?locale=<%= locale %>" class="btn btn-theme"><%= helper.getLocale(locale).viewCart %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-area">
            <nav class="navbar navbar-expand-lg navbar-dark bg-theme">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/?locale=<%= locale %>"><%= helper.getLocale(locale).home %> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= helper.getLocale(locale).store %>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/order/all?locale=<%= locale %>"><%= helper.getLocale(locale).browseAll %></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/order/minecraft?locale=<%= locale %>">Minecraft</a>
                                    <a class="dropdown-item" href="/order/web?locale=<%= locale %>">Web</a>
                                    <a class="dropdown-item" href="/order/cloud?locale=<%= locale %>">Cloud</a>
                                </div>
                            </li>
                        </ul>
                        <div class="form-inline my-1 my-lg-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%= helper.getLocale(locale).account %>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/clientarea?locale=<%= locale %>"><%= helper.getLocale(locale).clientArea %></a>
                                        <a class="dropdown-item" href="/auth/login?locale=<%= locale %>"><%= helper.getLocale(locale).login %></a>
                                        <a class="dropdown-item" href="/auth/register?locale=<%= locale %>"><%= helper.getLocale(locale).register %></a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/auth/reset?locale=<%= locale %>"><%= helper.getLocale(locale).forgotPass %></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>